DB_USER=user (postgres for global user, or use specific user if created)
DB_HOST=localhost
DB_NAME=synapse
DB_PASSWORD=[PASSWORD]
DB_PORT=5432
BACKEND_PORT=3000
JWT_SECRET=[SECRET_KEY] (use a strong secret key for JWT signing)